body {
    text-align: center;
    padding: 30px;
    border: solid;
    border-width: 10px;
    border-radius: 40px;
}
section {
    padding: 30px;
    background: rgb(255, 233, 236);
}
img {
    max-width: 100%;
}




@media(max-width: 780px) { /* MOBILE VIEW MEDIA QUERY */

}

@media(min-width: 781px) and (max-width: 1920px) { /* TABLET VIEW MEDIA QUERY */

}

@media(min-width: 1921px) { /* DESKTOP VIEW MEDIA QUERY */

}
