header {
    background: rgb(247, 178, 190);
    padding: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
section {
    background: rgb(255, 233, 236);
    padding: 2rem;
}